@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  color: #621A01;
}

.brown-title-font{
  /* color: #621A01; */
  color: #ee6336;
  font-family: "Montserrat Alternates", san-serif;
  font-weight: 800;
  font-size: 48px;
  text-shadow: 5px 5px #BA3D1434;
}

.orange-title-font{
  color: #ee6336;
  font-family: "Montserrat Alternates", san-serif;
  font-weight: 800;
  font-size: 48px;
  text-shadow: 5px 5px #FFE3D9;
}

.contact-page{
  /* background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/background-contact.svg"); */
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5vh 0 10vh 0;
}

.about-bg{
  background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/about-bg.png");
  background-repeat: no-repeat;
  background-size: 90vw auto;
  /* background-attachment: fixed; */
  background-position: center top;
}
.about-bg-1{
  background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/about-bg-3.svg");
  background-repeat: no-repeat;
  background-size: 90vw auto;
  background-position: center top;
}
/* .team-profile{
  height: 80px;
} */
.buttonCSS{
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #ee6336;
  color: #ffffff;
  margin-top: 10px;
}

.buttonCSS:hover{
  cursor: pointer;
  background-color: #FB7C51;
}

.textarea{
  padding: 10px 20px;
  border: 1px solid #F9B81A;
  border-radius: 12px;
  color: #621A01;
  font-size: 16px;
  margin: 6px 0px;
}
.textarea::placeholder {
  color: #6219013d;
}
.avatar-size{
  height: 16rem;
}
@media only screen and (max-width: 768px) {
  .avatar-size{
    height: 10rem;
  }
  .orange-title-font{
    /* font-weight: 800; */
    font-size: 24px;
    text-shadow: 3px 3px #FFE3D9;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
