@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  color: #621A01;
}

.brown-title-font{
  color: #621A01;
  /* color: #ee6336; */
  font-family: "Montserrat Alternates", san-serif;
  font-weight: 800;
  font-size: 48px;
  text-shadow: 5px 5px #621A0134;
}

.orange-title-font{
  color: #ee6336;
  font-family: "Montserrat Alternates", san-serif;
  font-weight: 800;
  font-size: 48px;
  text-shadow: 5px 5px #FFE3D9;
}
.mode-badge{
  transform: translate(70px,-60px);
}
.contact-page{
  /* background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/background-contact.svg"); */
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5vh 0 10vh 0;
}

.about-bg-section{
  background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/about-bg.png");
  background-repeat: no-repeat;
  background-size: 95vw auto;
  background-position: center top;
  opacity: 100%;
}
.about-bg-1{
  background-image: url("https://design-habitat.nyc3.cdn.digitaloceanspaces.com/illustrations/about-bg-3.svg");
  background-repeat: no-repeat;
  background-size: 90vw auto;
  background-position: center top;
}
/* .team-profile{
  height: 80px;
} */
.buttonCSS{
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #ee6336;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Montserrat Alternates", san-serif;
  font-weight: 500;
  box-shadow: 3px 3px 3px #aeaeae;
}

.buttonCSS:hover{
  cursor: pointer;
  background-color: #FB7C51;
}

.textarea{
  padding: 10px 20px;
  border: 1px solid #F9B81A;
  border-radius: 12px;
  color: #621A01;
  font-size: 16px;
  margin: 6px 0px;
}
.textarea::placeholder {
  color: #6219013d;
}
.avatar-size{
  height: 16rem;
}
@media only screen and (max-width: 768px) {
  .avatar-size{
    height: 10rem;
  }
  .orange-title-font{
    /* font-weight: 800; */
    font-size: 24px;
    text-shadow: 3px 3px #FFE3D9;
  }
  .brown-title-font{
    font-size: 24px;
  }
  .about-bg-section{
    background-image: none;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.toggle-button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.content.expanded {
  height: auto;
}

/* Navbar */
/* Navbar Styles */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu-toggle {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: none;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #621A01;
  margin-bottom: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu.open {
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in;
}

.menu.open li {
  width: 100%;
}

.menu.open a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu.open a:hover {
  background-color: #FFF2EE;
}

/* Modal Styles */
/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 60vw;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
  /* position: absolute; */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #621A01;
}

.close-btn:hover {
  color: #000;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #FFF5DE;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in;
  }

  .menu.open {
    max-height: 200px;
  }

  .menu.open li {
    width: 100%;
  }

  .menu.open a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .modal {
    width: 90vw;
  }

}